apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ k3s_headlamp_redirect_middleware_name }}
  namespace: {{ k3s_headlamp_release_namespace }}
  labels:
    app.kubernetes.io/name: headlamp
    app.kubernetes.io/part-of: {{ k3s_headlamp_config.name_prefix }}
    app.kubernetes.io/managed-by: Ansible
spec:
  redirectScheme:
    scheme: https
    permanent: true
