apiVersion: v1
kind: Service
metadata:
  name: {{ k3s_technitium_proxy_name }}
  namespace: {{ k3s_technitium_proxy_namespace }}
  labels:
    app.kubernetes.io/name: technitium
    app.kubernetes.io/part-of: {{ k3s_technitium_proxy_config.name_prefix }}
    app.kubernetes.io/managed-by: Ansible
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      appProtocol: http
      port: {{ k3s_technitium_proxy_backend_port }}
      targetPort: {{ k3s_technitium_proxy_backend_port }}
