apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ k3s_ingress_name }}
  namespace: {{ k3s_ingress_namespace }}
  labels:
    app.kubernetes.io/name: {{ k3s_ingress_service_name }}
    app.kubernetes.io/instance: {{ k3s_ingress_config.name_prefix }}
    app.kubernetes.io/part-of: {{ k3s_ingress_config.name_prefix }}
    app.kubernetes.io/managed-by: Ansible
  annotations:
    cert-manager.io/cluster-issuer: {{ k3s_ingress_cluster_issuer }}
    traefik.ingress.kubernetes.io/router.middlewares: >-
      {{ k3s_ingress_namespace }}-{{ k3s_ingress_https_redirect_middleware_name }}@kubernetescrd
spec:
  ingressClassName: {{ k3s_ingress_class_name }}
  tls:
    - hosts:
        - {{ k3s_ingress_hostname }}
      secretName: {{ k3s_ingress_tls_secret_name }}
  rules:
    - host: {{ k3s_ingress_hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ k3s_ingress_service_name }}
                port:
                  number: {{ k3s_ingress_service_port }}
