#cloud-config
users:
  - default
%{ for username, public_key in ssh_users ~}
  - name: ${username}
    groups:
      - sudo
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    lock_passwd: true
    ssh_authorized_keys:
      - ${jsonencode(trimspace(public_key))}
%{ endfor ~}

ssh_pwauth: false
disable_root: true