http:
  routers:
    ui:
      rule: "Host(`{{ compose_project_config.vms.ui.public_endpoint.hostname }}`)"
      entryPoints:
        - websecure
      service: ui
      tls:
        certResolver: letsencrypt

  services:
    ui:
      loadBalancer:
        servers:
          - url: "http://ui:8080"