apiVersion: kubelet.config.k8s.io/v1
kind: CredentialProviderConfig
providers:
  - name: gcp-artifact-registry
    apiVersion: credentialprovider.kubelet.k8s.io/v1
    matchImages:
      - "{{ k3s_registry_host }}"
    defaultCacheDuration: 45m
