# PostgreSQL
POSTGRES_DB=oil_tracker
POSTGRES_USER=oil_tracker
DB_PASSWORD=change-me
POSTGRES_IMAGE=postgres:18.4-bookworm

# RabbitMQ
RABBITMQ_USER=oil_tracker
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=oil_tracker
RABBITMQ_IMAGE=rabbitmq:4.3.4-management

# Redis
REDIS_PASSWORD=change-me
REDIS_IMAGE=redis:8.2.8-bookworm

# Network
INFRA_BIND_IP=10.142.0.30
RABBITMQ_MGMT_BIND_IP=127.0.0.1