global:
  default_self_log_file_collection: false

logging:
  receivers:
    syslog:
      type: files
      include_paths:
        - /var/log/messages
        - /var/log/syslog
    authentication:
      type: files
      include_paths:
        - /var/log/auth.log
        - /var/log/secure
  service:
    pipelines:
      default_pipeline:
        receivers:
          - syslog
          - authentication

metrics:
  receivers:
    hostmetrics:
      type: hostmetrics
      collection_interval: 60s
  service:
    pipelines:
      default_pipeline:
        receivers:
          - hostmetrics
