OPEN_METEO_AIR_QUALITY_URL=https://air-quality-api.open-meteo.com/v1/air-quality
BACKEND_SERVICE_URL=http://192.168.18.211:8001
RABBITMQ_URL=amqp://airaware:replace_with_rabbitmq_password@192.168.18.213:5672/airaware
RABBITMQ_EXCHANGE=airaware.measurements
RABBITMQ_QUEUE=airaware.measurements.persist
RABBITMQ_ROUTING_KEY=measurement.created
RABBITMQ_DEAD_LETTER_EXCHANGE=airaware.measurements.dead-letter
RABBITMQ_DEAD_LETTER_QUEUE=airaware.measurements.dead-letter

HTTP_TIMEOUT_SECONDS=15
FETCH_ON_STARTUP=true
SCHEDULER_ENABLED=true
FETCH_MINUTE_OF_HOUR=5
