apiVersion: v1
kind: Service
metadata:
  name: {{ k3s_application_history_name }}
  namespace: {{ k3s_application_namespace }}
  labels:
    app.kubernetes.io/name: {{ k3s_application_history_name }}
    app.kubernetes.io/instance: {{ k3s_application_config.name_prefix }}
    app.kubernetes.io/part-of: {{ k3s_application_config.name_prefix }}
    app.kubernetes.io/managed-by: Ansible
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ k3s_application_history_name }}
    app.kubernetes.io/instance: {{ k3s_application_config.name_prefix }}
  ports:
    - name: http
      port: {{ k3s_application_history_service_port }}
      targetPort: http
      protocol: TCP
