POSTGRES_DB=airaware
POSTGRES_USER=airaware_user
POSTGRES_PASSWORD=replace_with_database_password
REDIS_PASSWORD=replace_with_redis_password
RABBITMQ_USER=airaware
RABBITMQ_PASSWORD=replace_with_rabbitmq_password
RABBITMQ_VHOST=airaware
