# Managed by oilscope.platform.bastion.
Port {{ bastion_ssh_port }}
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
AllowTcpForwarding yes
AllowAgentForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
