{% for account in [
  {'suffix': 'owner', 'username': k3s_workloads_config.database.admin_user, 'password': resolve_secrets_result.POSTGRES_PASSWORD},
  {'suffix': 'history', 'username': k3s_workloads_config.database.admin_user ~ '_history', 'password': resolve_secrets_result.HISTORY_POSTGRES_PASSWORD},
  {'suffix': 'fetcher', 'username': k3s_workloads_config.database.admin_user ~ '_fetcher', 'password': resolve_secrets_result.FETCHER_POSTGRES_PASSWORD},
  {'suffix': 'ui', 'username': k3s_workloads_config.database.admin_user ~ '_ui', 'password': resolve_secrets_result.UI_POSTGRES_PASSWORD}
] %}
---
apiVersion: v1
kind: Secret
metadata:
  name: oilscope-db-{{ account.suffix }}
  namespace: oilscope
  labels:
    cnpg.io/reload: "true"
type: kubernetes.io/basic-auth
data:
  username: {{ account.username | b64encode | to_json }}
  password: {{ account.password | b64encode | to_json }}
{% endfor %}
