apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data
  namespace: oilscope
spec:
  accessModes: [ReadWriteOnce]
{% if kubernetes_mode == 'managed' %}
  storageClassName: oilscope-managed
{% endif %}
  resources:
    requests:
      storage: 1Gi
