apiVersion: v1
kind: Secret
metadata:
  name: oilscope-registry
  namespace: oilscope
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ {'auths': {k3s_workloads_registry.server: {'username': k3s_workloads_registry_username, 'password': k3s_workloads_registry_token, 'auth': (k3s_workloads_registry_username ~ ':' ~ k3s_workloads_registry_token) | b64encode}}} | to_json | b64encode | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: history-env
  namespace: oilscope
type: Opaque
data:
  DATABASE_URL: {{ k3s_workloads_history_database_url | b64encode | to_json }}
{% if database_mode == 'managed' %}
  RABBITMQ_URL: {{ k3s_workloads_rabbitmq_url | b64encode | to_json }}
{% endif %}
---
apiVersion: v1
kind: Secret
metadata:
  name: fetcher-env
  namespace: oilscope
type: Opaque
data:
  OILPRICEAPI_KEY: {{ resolve_secrets_result.OILPRICEAPI_KEY | b64encode | to_json }}
{% if database_mode == 'managed' %}
  RABBITMQ_URL: {{ k3s_workloads_rabbitmq_url | b64encode | to_json }}
{% else %}
  DATABASE_URL: {{ k3s_workloads_fetcher_database_url | b64encode | to_json }}
{% endif %}
---
apiVersion: v1
kind: Secret
metadata:
  name: ui-env
  namespace: oilscope
type: Opaque
data:
{% if database_mode == 'managed' %}
  REDIS_URL: {{ k3s_workloads_redis_url | b64encode | to_json }}
{% else %}
  DATABASE_URL: {{ k3s_workloads_ui_database_url | b64encode | to_json }}
{% endif %}
{% if database_mode == 'managed' %}
---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-env
  namespace: oilscope
type: Opaque
data:
  RABBITMQ_DEFAULT_PASS: {{ resolve_secrets_result.RABBITMQ_PASSWORD | b64encode | to_json }}
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-env
  namespace: oilscope
type: Opaque
data:
  REDIS_PASSWORD: {{ resolve_secrets_result.REDIS_PASSWORD | b64encode | to_json }}
{% endif %}
{% if k3s_workloads_config.cloudflare.enabled | default(false) | bool %}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: oilscope
type: Opaque
data:
  api-token: {{ lookup('ansible.builtin.env', 'CLOUDFLARE_API_TOKEN') | b64encode | to_json }}
{% endif %}
