OPEN_METEO_AIR_QUALITY_URL=https://air-quality-api.open-meteo.com/v1/air-quality
BACKEND_SERVICE_URL=http://127.0.0.1:8001

HTTP_TIMEOUT_SECONDS=15

FETCH_ON_STARTUP=true
SCHEDULER_ENABLED=true
FETCH_MINUTE_OF_HOUR=5